@model PsiConsulta.Models.ViewModels.PacienteFormViewModel;

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastro</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div class="text-danger"></div>
            <div class="form-group">
                <div class="form-row col">
                    <label asp-for="Paciente.Nome" class="control-label"></label>
                    <input asp-for="Paciente.Nome" class="form-control" />
                    <span asp-validation-for="Paciente.Nome" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="col-5">
                        <label asp-for="Paciente.CPF" class="control-label"></label>
                        <input asp-for="Paciente.CPF" class="form-control" />
                        <span asp-validation-for="Paciente.CPF" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Paciente.Telefone" class="control-label"></label>
                        <input asp-for="Paciente.Telefone" class="form-control" />
                        <span asp-validation-for="Paciente.Telefone" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Paciente.Profissao" class="control-label">Profissão</label>
                        <input asp-for="Paciente.Profissao" class="form-control" />
                        <span asp-validation-for="Paciente.Profissao" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label asp-for="Paciente.Endereco.Logradouro" class="control-label"></label>
                        <input asp-for="Paciente.Endereco.Logradouro" class="form-control" />
                        <span asp-validation-for="Paciente.Endereco.Logradouro" class="text-danger"></span>
                    </div>
                    <div class="col-1">
                        <label asp-for="Paciente.Endereco.Numero" class="control-label"></label>
                        <input asp-for="Paciente.Endereco.Numero" class="form-control" />
                        <span asp-validation-for="Paciente.Endereco.Numero" class="text-danger"></span>
                    </div>
                    <div class="col-5">
                        <label asp-for="Paciente.Endereco.Complemento" class="control-label"></label>
                        <input asp-for="Paciente.Endereco.Complemento" class="form-control" />
                        <span asp-validation-for="Paciente.Endereco.Complemento" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">
                        <label asp-for="Paciente.Endereco.Bairro" class="control-label"></label>
                        <input asp-for="Paciente.Endereco.Bairro" class="form-control" />
                        <span asp-validation-for="Paciente.Endereco.Bairro" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Paciente.Endereco.Municipio" class="control-label"></label>
                        <input asp-for="Paciente.Endereco.Municipio" class="form-control" />
                        <span asp-validation-for="Paciente.Endereco.Municipio" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label asp-for="Paciente.Endereco.Cep" class="control-label"></label>
                        <input asp-for="Paciente.Endereco.Cep" class="form-control" />
                        <span asp-validation-for="Paciente.Endereco.Cep" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label asp-for="Paciente.Endereco.UF" class="control-label"></label>
                        <select asp-for="Paciente.Endereco.UF" class="form-control single-select">
                            <option selected value="">...</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                        <span asp-validation-for="Paciente.Endereco.UF" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label asp-for="Paciente.Psicologo" class="control-label"></label>
                        <select asp-for="Paciente.PsicologoId" class="form-control single-select" asp-items="@(new SelectList(Model.Psicologos, "Id", "Nome"))"></select>
                        <span asp-validation-for="Paciente.Psicologo" class="text-danger"></span>
                    </div>
                </div>
                
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
